In [1]:
import pandas as pd 
import numpy as np

## Circuits.csv

In [4]:
circ_df = pd.read_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Raw Data\\circuits.csv")
circ_df

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,12,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,0,http://en.wikipedia.org/wiki/Miami_Internation...

In [6]:
circ_df.drop(["circuitRef", "lat", "lng", "alt", "url"], axis=1, inplace=True)

In [8]:
circ_df

,circuitId,name,location,country
0,1,Albert Park Grand Prix Circuit,Melbourne,Australia
1,2,Sepang International Circuit,Kuala Lumpur,Malaysia
2,3,Bahrain International Circuit,Sakhir,Bahrain
3,4,Circuit de Barcelona-Catalunya,Montmeló,Spain
4,5,Istanbul Park,Istanbul,Turkey
...,...,...,...,...
72,75,Autódromo Internacional do Algarve,Portimão,Portugal
73,76,Autodromo Internazionale del Mugello,Mugello,Italy
74,77,Jeddah Corniche Circuit,Jeddah,Saudi Arabia
75,78,Losail International Circuit,Al Daayen,Qatar
76,79,Miami International Autodrome,Miami,USA

In [10]:
circ_df.to_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Cleaned Data\\circuits.csv", index=False)

## Constructor_results.csv

In [13]:
cres_df = pd.read_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Raw Data\\constructor_results.csv")
cres_df

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12620                 17125    1144            210     4.0     \N
12621                 17126    1144            117     2.0     \N
12622                 17127    1144              3     0.0     \N
12623                 17128    1144            215     0.0     \N
12624                 17129    1144             15     0.0     \N

[12625 rows x 5 columns]

In [15]:
cres_df.drop("status", axis = 1, inplace = True)
cres_df

       constructorResultsId  raceId  constructorId  points
0                         1      18              1    14.0
1                         2      18              2     8.0
2                         3      18              3     9.0
3                         4      18              4     5.0
4                         5      18              5     2.0
...                     ...     ...            ...     ...
12620                 17125    1144            210     4.0
12621                 17126    1144            117     2.0
12622                 17127    1144              3     0.0
12623                 17128    1144            215     0.0
12624                 17129    1144             15     0.0

[12625 rows x 4 columns]

In [17]:
cres_df.to_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Cleaned Data\\constructor_results.csv", index=False)

## Constructors.csv

In [20]:
con_df = pd.read_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Raw Data\\constructors.csv")
con_df

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
211,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team

In [22]:
con_df.drop(["constructorRef", "url"], axis = 1, inplace = True)
con_df

     constructorId            name nationality
0                1         McLaren     British
1                2      BMW Sauber      German
2                3        Williams     British
3                4         Renault      French
4                5      Toro Rosso     Italian
..             ...             ...         ...
207            210    Haas F1 Team    American
208            211    Racing Point     British
209            213      AlphaTauri     Italian
210            214  Alpine F1 Team      French
211            215      RB F1 Team     Italian

[212 rows x 3 columns]

In [24]:
con_df.to_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Cleaned Data\\constructors.csv", index=False)

## Drivers.csv

In [27]:
dri_df = pd.read_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Raw Data\\drivers.csv")
dri_df

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant
857,859,lawson,30,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson
858,860,bearman,38,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman
859,861,colapinto,43,COL,Franco,Colapinto,2003-05-27,Argentinian,http://en.wikipedia.org/wiki/Franco_Colapinto
860,862,doohan,61,DOO,Jack,Doohan,2003-01-20,Australian,http://en.wikipedia.org/wiki/Jack_Doohan

In [29]:
dri_df.drop(["number", "url"], axis = 1, inplace = True)
dri_df

,driverId,driverRef,code,forename,surname,dob,nationality
0,1,hamilton,HAM,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,HEI,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,ROS,Nico,Rosberg,1985-06-27,German
3,4,alonso,ALO,Fernando,Alonso,1981-07-29,Spanish
4,5,kovalainen,KOV,Heikki,Kovalainen,1981-10-19,Finnish
...,...,...,...,...,...,...,...
856,858,sargeant,SAR,Logan,Sargeant,2000-12-31,American
857,859,lawson,LAW,Liam,Lawson,2002-02-11,New Zealander
858,860,bearman,BEA,Oliver,Bearman,2005-05-08,British
859,861,colapinto,COL,Franco,Colapinto,2003-05-27,Argentinian
860,862,doohan,DOO,Jack,Doohan,2003-01-20,Australian

In [31]:
dri_df.to_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Cleaned Data\\drivers.csv", index=False)

## Races.csv

In [34]:
race_df = pd.read_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Raw Data\\races.csv")
race_df

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

In [36]:
race_df.drop(["date", "time", "url"], axis = 1, inplace = True)
race_df

,raceId,year,round,circuitId,name,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

In [38]:
race_df.to_csv("C:\\Users\\Checkout\\Desktop\\Pet Project\\F1\\Ergast Data\\Cleaned Data\\races.csv", index=False)